= render "users/shared/mercari-logo"
.log-in
  .log-in__header
    %p.log-in__header--no-account アカウントをお持ちでない方はこちら
    %a{ href: "/users/sign_up"}
      .create-new
        %p.create-new__logo 新規会員登録
  .log-in__body-account
    .facebook-box
      %i.fa.fa-facebook-square
      %p.facebook-box__logo Facebookでログイン
    .google-box
      %img{:src => "https://img.icons8.com/color/24/000000/google-logo.png", class: "google-img"}
      %p.google-box__logo Googleでログイン
  .log-in__body-form
    %input{:placeholder => "メールアドレス", :type => "text",class:"log-in__body-form--address"}
    %input{:placeholder => "パスワード", :type => "text",class:"log-in__body-form--password"}
    .log-in__body-form--robot 私はロボットではありませんをここに入れる
    %a{href:"/"}
      .log-in__body-form--enter
        %p.log-in__body-form--enter--logo ログイン
    %p.log-in__body-form--forget パスワードをお忘れの方
= render "users/shared/footer" 