= render "mercari-logo"
.finish-main
  .finish-main__header
    %p.finish-main__header--logo 会員登録完了
  .finish-main__body
    %p.finish-main__body--text
      ありがとうございます。
      %br 会員登録が完了しました。
    %a{href: "/"}
      .start-mercari-button
        %p.start-mercari-button__logo メルカリをはじめる
= render "footer"