= render "mercari-logo"
.pay-main
  .pay-main__header
    %p.pay-main__header--logo 支払い方法
  .pay-main__body
    .pay-form-box
      %p.pay-form-box__sub カード番号
      .pay-form-box__mark
      %input{ class: "pay-form-box__form", placeholder: "半角数字のみ", type: "string"}
      .creditcard-logo
        = image_tag ('mc_symbol_opt_45_3x.png')
    .pay-form-box
      %p.pay-form-box__sub 有効期限
      .pay-form-box__mark
      %input{ class: "pay-form-box__form-first", placeholder: "01", type: "string"}
      %input{ class: "pay-form-box__form-second", placeholder: "19", type: "string"}
    .pay-form-box
      %p.pay-form-box__sub セキュリティーコード
      .pay-form-box__mark
      %input{ class: "pay-form-box__form", placeholder: "カード背面4桁もしくは3桁の番号", type: "string"}
    %a{href: "/sign_up/finish"}
      = render "go-to-next"
= render "footer" 