.bread_crumb
  .bread_crumb__text
    メルカリ　
    %i.fa.fa-angle-right
    %span マイページ

.mypage
  .mypage__main
    =render partial: "users/user"
    =render partial: "users/info_todo"
    =render partial: "users/purchased"
  =render partial: "users/side_menu"