= render 'layouts/breadcrumbs'
.mypage
  .mypage__main
    =render partial: "users/user"
    =render partial: "users/info_todo"
    =render partial: "users/purchased"
  =render partial: "users/side_menu"