.five.upload-box{
  padding: 40px 40px 0;
  margin: 0 0 40px;
  border-top: 1px solid #eee;
  height: 373px;
}
#new_image_form_edit{
  display: table-cell;
  vertical-align: middle;
  border: 1px dashed #aaa;
  text-align: center;
  width: 600px;
  background-color: #F5F5F5;
  height: 82px;
}

#edit{
  position: absolute;
  bottom: 41px;
  margin: 0 170.5px;
  height: 48px;
  width: 277px;
}