$wide_side__width: 700px;
$small_side__width: 280px;

html, body {
  position: relative;
  min-height: 100%;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
  font-size: inherit;
  box-sizing: inherit;
}

h2{
  font-size: 22px;
  line-height: 1.4;
  font-weight: bold;
}

h3{
  font-size: 16px;
  font-weight: bold;
}

ul {
  list-style: none;
}



.bread_crumb{
  @include bread_crumb;
}

.mypage{
  &__main{
    width: 700px;
    a{
      color: #000;
    }
  }
}

.new.mypage__side_menu{
  li:first-child{
    @include side_menu__selection;
  }
}

@media screen and (min-width: 1053px){
  .bread_crumb{
    &__text{
      width: 1020px;
    }
  }

  .mypage{
    width: 1020px;
    height: 1252px;
    margin: 40px auto 0;
    padding: 0 0 40px;

      &__main{
        float: right;
      }

    .mypage__side_menu{
      height: 1252px;
      margin: 0 40px 0 0;
      width: $small_side__width;
      float: left;

      &__lists{
        width: $small_side__width;

        &__name{
          width: $small_side__width;

          &__text{
            width: $small_side__width;
          }
        }
      }
    
      &__merupay{
        width: $small_side__width;
    
        &__title{
          width: $small_side__width;
    
        }
    
        &__lists{
          width: $small_side__width;
    
          &__name{
            width: $small_side__width;
    
            &__text{
              width: $small_side__width;
    
            }
          }
        }
      }
    
      &__setting{
        width: $small_side__width;
    
        &__title{
          width: $small_side__width;
    
        }
    
        &__lists{
          width: $small_side__width;
    
          &__name{
            width: $small_side__width;
    
            &__text{
              width: $small_side__width;
    
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1052px){
  .bread_crumb{
    &__text{
      width: 700px;
    }
  }

  .mypage{
    margin: 24px auto 0;
    padding: 0 0 40px;
    width: 700px;
    // height: 2224px;
    height: 2539px;
    min-height: 100%;

    &__main{
      width: 700px;
      max-height: 1247px;
      min-height: 932px;
    }

    .mypage__side_menu{
      margin: 40px auto;
      width: 700px;
      height: 1252px;
  
      &__lists{
        width: $wide_side__width;
    
        &__name{
          width: $wide_side__width;
    
          &__text{
            width: $wide_side__width;
          }
        }
      }
    
      &__merupay{
        width: $wide_side__width;
  
        &__title{
          width: $wide_side__width;
        }
    
        &__lists{
          width: $wide_side__width;
  
          &__name{
            width: $wide_side__width;
    
            &__text{
              width: $wide_side__width;
            }
          }
        }
      }
    
      &__setting{
        width: $wide_side__width;
  
        &__title{
          width: $wide_side__width;
        }
    
        &__lists{
          width: $wide_side__width;
    
          &__name{
            width: $wide_side__width;
    
            &__text{
              width: $wide_side__width;
            }
          }
        }
      }
    }
  }
}