<div class="contents">

  <div class="mypage-nav">menu-bar</div>
 
  <div class="main">
    <h2>payment method</h2>
    <div class="main-middle">
      <p class="one">card list</p>
      <a href="/top/:1/cards/new">
        <p class="two">add card</p>
      </a>
    </div>
    <hr>
    <a href="#">
      <p class="main-bottom">about payment ></p>
    </a>
  </div>
    
</div>





