<main class="l-container clearfix">

  <div class="mypage-nav">TBP by kurimura-san</div>

  <div class="l-content">
    <section class="l-chapter-container">
      <h2 class="l-chapter-head">クレジットカード情報入力</h2>

      <form data-adyen-id="card-form" id="" class="l-single-inner registration-form" novalidate="novalidate">
      <input type="hidden" name="__csrf_value" value="">

      <div class="l-single-content">
    
        <div class="form-group">
          <label for="payment_card_no">カード番号</label>
          <span class="form-require">必須</span>
          <input type="text" value="" id="payment_card_no" placeholder="半角数字のみ" data-input-type="card" class="input-default" maxlength="19" kl_vkbd_parsed="true">
          <ul id="card-no-error-wrapper" class="has-error-text"></ul>

          <ul class="signup-card-list">
            <li>
              <img src="//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?863303983" width="49" height="20" alt="">
            </li>
            <li>
              <img src="//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?863303983" width="34" height="20" alt="">
            </li>
            <li>
              <img src="//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?863303983" width="30" height="20" alt="">
            </li>
            <li>
              <img src="//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?863303983" width="32" height="20" alt="">
            </li>
            <li>
              <img src="//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?863303983" width="21" height="20" alt="">
            </li>
            <li>
              <img src="//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?863303983" width="32" height="20" alt="">
            </li>
            <li>
              <img src="//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?863303983" width="32" height="20" alt="">
            </li>
          </ul>
        </div>

        <div class="form-group signup-form-expire">
          <label for="payment_card_expire">有効期限</label>
          <span class="form-require">必須</span>
          <br>
          <div class="select-wrap half">
            <select id="payment_card_expire_mm" class="select-default">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <i class="icon-arrow-bottom"></i>
            <span>月</span>
          </div>
          <div class="select-wrap half">
            <select id="payment_card_expire_yy" class="select-default">
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
            </select>
            <i class="icon-arrow-bottom"></i>
            <span>年</span>
          </div>
          <ul id="expire-mm-error-wrapper" class="has-error-text"></ul>
          <ul id="expire-yy-error-wrapper" class="has-error-text"></ul>
      </div>

      <div class="form-group">
        <label for="payment_card_security_code">セキュリティコード</label>
        <span class="form-require">必須</span>
        <input type="number" value="" id="payment_card_security_code" placeholder="カード背面4桁もしくは3桁の番号" class="input-default" kl_vkbd_parsed="true">
        <ul id="security-code-error-wrapper" class="has-error-text"></ul>

        <div class="signup-seqcode">
          <div class="signup-seqcode-text" data-js="show-tips-toggle">
            <span class="form-question">?</span>カード裏面の番号とは？
          </div> 
        </div>
      </div>

      <input type="hidden" id="user_id" name="user_id" value="600611058" kl_vkbd_parsed="true">
      <input type="hidden" id="encrypted_card_data" name="encrypted_card_data" kl_vkbd_parsed="true">
      <p id="primary-error" class="has-error-text"></p>

      <input type="hidden" value="" name="after_save_callback" kl_vkbd_parsed="true">
      <button type="button" id="submit-button" class="btn-default btn-red">追加する</button>
    
    </section>
  </div>

</main>



<a href="/cards"><p class="test">return</p></a>