<div class="contents">

  <div class="mypage-nav">TBP by kurimura-san</div>

  <div class="main-two">

    <a href="#" class="fixed_btn">
      出品<br><%= fa_icon 'camera', class: 'icon' %>
    </a>

    <h2>クレジットカード情報</h2>
    <form class="payment-form">
      <p>カード番号</p>
      <p class="mandatory">必須</p>
      <div class="input">
        <input type="text" class="input-default" id="card_no" maxlength="19" placeholder="半角数字のみ">
      </div>
      <div class="card-type clearfix">
        <ul>
          <li class="card-type__list">
            <img src="//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?863303983" width="49" height="20" alt="">
          </li>
          <li class="card-type__list">
            <img src="//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?863303983" width="34" height="20" alt="">
          </li>
          <li class="card-type__list">
            <img src="//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?863303983" width="30" height="20" alt="">
          </li class="card-type__list">
          <li class="card-type__list">
            <img src="//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?863303983" width="32" height="20" alt="">
          </li>
          <li class="card-type__list">
            <img src="//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?863303983" width="21" height="20" alt="">
          </li>
          <li class="card-type__list">
            <img src="//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?863303983" width="32" height="20" alt="">
          </li>
          <li class="card-type__list">
            <img src="//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?863303983" width="32" height="20" alt="">
          </li>
        </ul>
      </div>

      <p>有効期限</p>
      <p class="mandatory">必須</p>
      <div class="input">
        <select id="card_exp_mm" class="select-default">
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <span>月</span>

        <select id="card_exp_yy" class="select-default">
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
        </select>
        <span>年</span>
      </div>

      <div class="security">
        <p>セキュリティコード</p>
        <p class="mandatory">必須</p>
        <div class="input">
          <input type="text" class="input-default" id="security_code" maxlength="4" placeholder="カード背面4桁もしくは3桁の番号">
        </div>
        <p class="security-about">
          <span class="security-about__question">?</span>
          カード裏面の番号とは？
        </p>
      </div>

      <div class="form-submit clearfix">
        <button type="button" id="submit-button" class="form-submit__btn">追加する</button>
      </div>


    </form>
  </div>


</div>