<div class="contents">

  <div class="mypage-nav">menu-bar</div>
  
  <div class="main">
    <h2>payment method</h2>
    <p>number</p>
    <input type="text">
    <ul class="card-icon">
      <li>a</li>
      <li>b</li>
      <li>c</li>
      <li>d</li>
      <li>e</li>
      <li>f</li>
    </ul>
  </div>
    
</div>


<a href="/top/:1/cards"><p class="test">return</p></a>