.jump-next {
  width: 343px;
  height: 50px;
  background-color: #ea352d;
  margin: 24px auto 0;
  &__logo {
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
  }
}