.log-in {
  height: 730px;
  width: 460px;
  background-color: white;
  margin: 30px auto 0;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  &__header {
    border-bottom: solid 1px #f5f5f5;
    padding: 40px 64px;
    &--no-account {
      text-align: center;
      font-size: 14px;
    }
    .create-new {
      height: 42px;
      background-color: #0099e8;
      margin-top: 8px;
      &__logo {
        clear: both;
        color: white;
        text-align: center;
        line-height: 42px;
      }
    }
  }
  &__body-account {
    padding: 32px 64px;
    .facebook-box {
      clear: both;
      height: 50px;
      background-color: #385185;
      margin: 0 auto;
      color: white;
      .fa-facebook-square {
        float: left;
        line-height: 50px;
        font-size: 26px;
        padding-left: 13px;
      }
      &__logo {
        line-height: 50px;
        text-align: center;
        font-size: 14px;
      }
    }
    .google-box {
      clear: both;
      height: 50px;
      background-color: #ffffff;
      margin: 0 auto;
      border: solid 1px #979797;
      margin-top: 16px;
      .google-img {
        float: left;
        padding-top: 13px;
        padding-left: 13px;
      }
      &__logo {
        line-height: 50px;
        text-align: center;
        font-size: 14px;
      }
    }
  }
  &__body-form {
    padding: 24px 64px 32px;
    &--address {
      width: 332px;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 5px;
      border: solid 1px #dcdcdc;
    }
    &--password {
      width: 332px;
      height: 48px;
      margin-top: 22px;
      padding: 10px 16px 8px;
      border-radius: 5px;
      border: solid 1px #dcdcdc;
    }
    &--robot {
      background-color: #f9f9f9;
      width: 332px;
      height: 74px;
      margin-top: 20px;
      border: solid 1px #f5f5f5;
    }
    &--enter {
      height: 50px;
      width: 332px;
      background-color: #e62017;
      margin-top: 24px;
      color: white;
      border: none;
      &--logo {
        text-align: center;
        line-height: 50px;
        color: white;
      }
    }
    &--forget {
      color: #0099e8;
      font-size: 14px;
      margin-top: 40px;
    }
  }
  a {
    text-decoration: none;
    }
} 