// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}