.tel-main {
  width: 700px; 
  margin: 30px auto 0;
  &__header {
    height: 50px;
    background-color: white;
    &--logo {
      font-size: 22px;
      line-height: 50px;
      text-align: center;
      font-weight: bold;
    }
  }
  &__body {
    margin-top: 1px;
    background-color: white;
    padding: 0 16px 10px 40px;
    .tel-box {
      width: 343px;
      margin: 0 auto;
      padding-top: 50px;
      &__logo {
        font-weight: bold;
      }
      &__form {
        width: 343px;
        background-color: #ffffff;
        height: 48px;
        margin-top: 8px;
        padding: 10px 16px 8px;
        border-radius: 5px;
        border: solid 1px #dcdcdc;
        font-size: 16px;
      }
      &__explain {
        margin-top: 8px;
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
    .tel-send-box {
      width: 343px;
      margin: 0 auto;
      padding-top: 40px;
      &__button {
        width: 343px;
        height: 50px;
        background-color: #e3252d;
        &--logo {
          text-align: center;
          line-height: 50px;
          color: white;
        }
      }
      &__explain {
        margin-top: 8px;
        letter-spacing: 1px;
      }
      &__reason {
        float: right;
        color: #0099e8;
        &--logo {
        }
        .fa-chevron-right {
        }
      }
    }
  }
} 
.tel-send-box:after {
	content: "";
	clear: both;
	display: block;
}
