.footer
  .footer-top
    .footer-top__one
      %ul
        %li.footer-top__one--title メルカリについて
        %li.footer-top__one--list 会社概要（運営会社）
        %li.footer-top__one--list 採用情報
        %li.footer-top__one--list プレスリリース
        %li.footer-top__one--list 公式ブログ
        %li.footer-top__one--list メルカリロゴ利用ガイドライン
        %li.footer-top__one--logo
          %p= fa_icon 'twitter', class: 'icon'
          %p= fa_icon 'facebook-square', class: 'icon'
    .footer-top__one
      %ul
        %li.footer-top__one--title ヘルプ＆ガイド
        %li.footer-top__one--list メルカリガイド
        %li.footer-top__one--list らくらくメルカリ便
        %li.footer-top__one--list ゆうゆうメルカリ便
        %li.footer-top__one--list 大型メルカリ便
        %li.footer-top__one--list 車体取引ガイド
        %li.footer-top__one--list メルカリあんしん・あんぜん宣言！
        %li.footer-top__one--list 偽ブランド品撲滅への取り組み
        %li.footer-top__one--list メルカリボックス
    .footer-top__two
      %span.footer-top__two--title.clearfix プライバシーと利用規約
      %ul.footer-top__two--left
        %li.footer-top__two--left--list プライバシーポリシー
        %li.footer-top__two--left--list メルカリ利用規約
        %li.footer-top__two--left--list
          あんしんスマホサポート精度に関
          %br>/
          する利用特約
        %li.footer-top__two--left--list コンプライアンスポリシー
      %ul.footer-top__two--right
        %li.footer-top__two--right--list
          個人データの安全管理に係る基本
          %br>/
          方針
        %li.footer-top__two--right--list 特定商品取引に関する表記
        %li.footer-top__two--right--list 資金決済法に基づく表示
        %li.footer-top__two--right--list 法令遵守と犯罪抑止のために
        %li.footer-top__two--right--list 返品・返金ポリシー
    .footer-top__one
      %ul
        %li.footer-top__one--title 国
        %li.footer-top__one--list 日本
        %li.footer-top__one--list United States
  .footer-bottom
    %p.footer-bottom__left
      =image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?2927923569', class: 'footer-bottom__left--img')
    %p.footer-bottom__right
      %small © 2019 team0706a